/*Segment start base*/
@charset "utf-8";
body.eshop div.product_cont div.pictures div.option-container .container {
    display: block;
    position: relative;
    padding-left: 35px
    margin-bottom: 12px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
body.eshop div.product_cont div.pictures div.option-container .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
body.eshop div.product_cont div.pictures div.option-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
body.eshop div.product_cont div.pictures div.option-container .container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
body.eshop div.product_cont div.pictures div.option-container .container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
body.eshop div.product_cont div.pictures div.option-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
body.eshop div.product_cont div.pictures div.option-container .container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
body.eshop div.product_cont div.pictures div.option-container .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
body.eshop div.product_cont div.pictures div.option-container .container div.price {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin-left: 450px;
    width: 100px;
    border: 1px solid #00ABD0;
    text-align: center;
    font-size: 16px;
}
body:not(.lvl1Id50) div.prod_list div.mthumb div.title div.priceVar {
    display: block;
    /*position: absolute;*/
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    /*margin: 50px;*/
    width: auto;
    border: 1px solid #00ABD0;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    text-transform: none;
    font-style: normal;
    letter-spacing: 0px;
}